* {
    margin: 0;
    padding: 0;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-color: #127997;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 20px;
}

.container {
    background-color: #1d4c5a;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

h1 {
    margin-bottom: 30px; 
    font-size: 28px;
    color: #cf7272;
}

input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 70%;
}

.concluida {
    text-decoration: line-through;
}
